.gradle/
build/
bin/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

.idea/
*.iws
*.iml
*.ipr

application-local.properties
application-secret.properties
.env
*.env
!.env.example

src/main/generated/

.DS_Store
Thumbs.db
*.log
logs/
